/dts-v1/;

/* 定义根节点 */
/ {
	#address-cells = <0x2>;  /* 节点中的reg的地址宽度为64位 */
	#size-cells = <0x2>;     /* 节点中的reg的大小宽度为64位 */
	compatible = "riscv-quard-star"; /* 节点的名称 */
	model = "riscv-quard-star,qemu"; /* 指定设备的制造商和型号 */

    /* 定义chosen子节点，用于传递输入参数 */   
	chosen {
		stdout-path = "/soc/uart0@10000000";  /* 定义系统标准输出stdout使用节点/soc/uart0@10000000 */

		
		opensbi-domains {  /* 定义opensbi-domains描述节点 */
		    compatible = "opensbi,domain,config"; /* 节点名称 */

	/*--------------------------------定义和内存相关的节点-----------------------------------------------*/
            tmem0: tmem0 {   /* 定义内存节点：普通ram 地址范围: 0xBF800000 - 0xBFC00000 */
                compatible = "opensbi,domain,memregion";  /* 节点名称 */
                base = <0x0 0xBF800000>; /* 起始地址注意64位地址哦 */
                order = <22>; /* 内存大小即size=2^22  =4M*/
            };
			tmem1: tmem1 {   /* 定义内存节点：普通ram 地址范围:0xBFC00000 - 0xBFE00000 */
				compatible = "opensbi,domain,memregion";  /* 节点名称 */
				base = <0x0 0xBFC00000>; /* 起始地址注意64位地址哦 */
				order = <21>; /* 内存大小即size=2^21  =2M*/
			};
			tmem2: tmem2 {   /* 定义内存节点：普通ram 地址范围:0xBFE00000 - 0xBFF00000 */
				compatible = "opensbi,domain,memregion";  /* 节点名称 */
				base = <0x0 0xBFE00000>; /* 起始地址注意64位地址哦 */
				order = <20>; /* 内存大小即size=2^20  =1M*/
			};
			tmem3: tmem3 {  /* 定义内存节点：普通ram 地址范围:0xBFF00000 - 0xBFF80000 */
				compatible = "opensbi,domain,memregion";  /* 节点名称 */
				base = <0x0 0xBFF00000>; /* 起始地址注意64位地址哦 */
				order = <19>; /* 内存大小即size=2^19=512k*/
			};

			/* 中间有一块地址 0xBFF80000-0xBFFC0000没有划分tmen */

			// tmem4: tmem4 {  /* 定义内存节点：普通ram 地址范围:0xBFFC0000 - 0xC0000000 */
			// 	compatible = "opensbi,domain,memregion";  /* 节点名称 */
			// 	base = <0x0 0xBFFC0000>; /* 起始地址注意64位地址哦 */
			// 	order = <18>; /* 内存大小即size=2^18=256k*/
			// };




            tuart: tuart {  /* 定义mmio节点：内存映射IO */
                compatible = "opensbi,domain,memregion";  /* 节点名称 */
                base = <0x0 0x10002000>; /* 起始地址 */
                order = <8>; /* size=2^8 */
                mmio;  /* mmio属性：memory-mapped I/O */
                devices = <&uart2>; /* 关联到设备节点上 */
            };

		    allmem: allmem { /* 定义内存节点，这个节点保护所有地址 */
		        compatible = "opensbi,domain,memregion";
		        base = <0x0 0x0>;
		        order = <64>;
		    };
	/*--------------------------------定义不同的域实例-----------------------------------------------*/
            tdomain: trusted-domain { /* 定义domian节点：tdomain 安全域 */
                compatible = "opensbi,domain,instance";  /* 节点名称 */
                possible-harts = <&cpu7>; /* domain中允许使用的cpu core */
                //regions = <&tmem 0x7>, <&tuart 0x7>, <&allmem 0x7>;/* 各个内存/mmio区域的权限，3bit读写运行权限 0x7拥有全部权限 */
        		regions = <&tmem0 0x7>,<&tmem1 0x7>,<&tmem2 0x7>,<&tmem3 0x7>, <&tuart 0x7>, <&allmem 0x7>;/* 各个内存/mmio区域的权限，3bit读写运行权限 0x7拥有全部权限 */
				boot-hart = <&cpu7>; /* domian中用于boot的core */
                next-arg1 = <0x0 0x00000000>; /* 下级程序的参数 */
		        next-addr = <0x0 0xBF800000>; /* 下级程序的起始地址 */ 
		        next-mode = <0x0>; /* 下级程序的允许模式 0为U模式，1为S模式 */
                system-reset-allowed; /* 允许复位 */
            };

		    udomain: untrusted-domain { /* 定义domian节点：udomain 非安全域 */
		        compatible = "opensbi,domain,instance";
		        possible-harts = <&cpu0 &cpu1 &cpu2 &cpu3 &cpu4 &cpu5 &cpu6>;
		        //regions = <&tmem 0x0>, <&tuart 0x0>, <&allmem 0x7>; /* tmem的权限为0，无法不能读写执行这块内存*/
				regions = <&tmem0 0x0>,<&tmem1 0x0>,<&tmem2 0x0>,<&tmem3 0x0>, <&tuart 0x0>, <&allmem 0x7>; /* tmem的权限为0，无法不能读写执行这块内存*/
				boot-hart = <&cpu0>;
		        next-arg1 = <0x0 0xB0000000>; 
		        next-addr = <0x0 0xB0200000>;
		        next-mode = <0x1>;
		        system-reset-allowed;
		    };
		};

	
	};

    /* 定义memory子节点，用于定义系统主内存: 0x80000000~0xC0000000 */   
	memory@80000000 {
		device_type = "memory";    /* 设备类型 */
		reg = <0x0 0x80000000 0x0 0x40000000>;  /* 地址和大小定义，注意是64位的 */
	};

    /* 定义cpus子节点，用于定义系统核心信息 */   
	cpus {
		#address-cells = <0x1>; /* 节点中的reg的地址宽度为32位 */
		#size-cells = <0x0>;    /* 节点中的reg没有大小*/
		timebase-frequency = <0x989680>; /*自定义的属性*/

		cpu0: cpu@0 {             /* 定义cpu0子节点 */   
			phandle = <0xf>;      /* 其他具体的属性在驱动代码内针对使用 */
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";      /* status属性用来表示启用该设备 */   
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller { /* 定义中断控制器子节点 */   
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x10>;
			};
		};

		cpu1: cpu@1 {
			phandle = <0xd>;
			device_type = "cpu";
			reg = <0x1>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0xe>;
			};
		};

		cpu2: cpu@2 {
			phandle = <0xb>;
			device_type = "cpu";
			reg = <0x2>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0xc>;
			};
		};

		cpu3: cpu@3 {
			phandle = <0x9>;
			device_type = "cpu";
			reg = <0x3>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0xa>;
			};
		};

		cpu4: cpu@4 {
			phandle = <0x7>;
			device_type = "cpu";
			reg = <0x4>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x8>;
			};
		};

		cpu5: cpu@5 {
			phandle = <0x5>;
			device_type = "cpu";
			reg = <0x5>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x6>;
			};
		};

		cpu6: cpu@6 {
			phandle = <0x3>;
			device_type = "cpu";
			reg = <0x6>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&udomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x4>;
			};
		};

		cpu7: cpu@7 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x7>;
			status = "okay";
			compatible = "riscv";
			opensbi-domain = <&tdomain>;
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";

			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};

		cpu-map {

			cluster0 {

				core0 {
					cpu = <0xf>;
				};

				core1 {
					cpu = <0xd>;
				};

				core2 {
					cpu = <0xb>;
				};

				core3 {
					cpu = <0x9>;
				};

				core4 {
					cpu = <0x7>;
				};

				core5 {
					cpu = <0x5>;
				};

				core6 {
					cpu = <0x3>;
				};

				core7 {
					cpu = <0x1>;
				};
			};
		};
	};

    /* 定义soc子节点，用于定义系统内外设信息 */   
	soc {
		#address-cells = <0x2>; /* 节点中的reg的地址宽度为64位 */
		#size-cells = <0x2>;    /* 节点中的reg的大小宽度为64位 */
		compatible = "simple-bus";
		ranges;                 /* 子节点地址空间和父地址空间的映射计算方式，这里为空是直接映射的 */
 
        /* 之后是我们的uart信息和中断控制器信息，因为我们的soc目前只有这两种外设，因此这里还比较简单，都是用于设备驱动的具体的设备属性，需要结合驱动源码确认属性如何使用 */   
		uart0: uart0@10000000 {
			interrupts = <0xa>;
			interrupt-parent = <0x11>;
			clock-frequency = <0x384000>;
			reg = <0x0 0x10000000 0x0 0x1000>;
			compatible = "ns16550a";
		};

		uart1: uart1@10001000 {
			interrupts = <0xb>;
			interrupt-parent = <0x11>;
			clock-frequency = <0x384000>;
			reg = <0x0 0x10001000 0x0 0x1000>;
			compatible = "ns16550a";
		};

        uart2: uart2@10002000 {
			interrupts = <0xc>;
			interrupt-parent = <0x11>;
			clock-frequency = <0x384000>;
			reg = <0x0 0x10002000 0x0 0x1000>;
			compatible = "ns16550a";
		};

		plic@c000000 {
			phandle = <0x11>;
			riscv,ndev = <0x35>;
			reg = <0x0 0xc000000 0x0 0x210000>;
			interrupts-extended = <0x10 0xb 0x10 0x9 0xe 0xb 0xe 0x9 0xc 0xb 0xc 0x9 0xa 0xb 0xa 0x9 0x8 0xb 0x8 0x9 0x6 0xb 0x6 0x9 0x4 0xb 0x4 0x9 0x2 0xb 0x2 0x9>;
			interrupt-controller;
			compatible = "riscv,plic0";
			#interrupt-cells = <0x1>;
			#address-cells = <0x0>;
		};

		clint@2000000 {
			interrupts-extended = <0x10 0x3 0x10 0x7 0xe 0x3 0xe 0x7 0xc 0x3 0xc 0x7 0xa 0x3 0xa 0x7 0x8 0x3 0x8 0x7 0x6 0x3 0x6 0x7 0x4 0x3 0x4 0x7 0x2 0x3 0x2 0x7>;
			reg = <0x0 0x2000000 0x0 0x10000>;
			compatible = "riscv,clint0";
		};
	};
};