/* riscv-quard-star-uboot.dts */

/dts-v1/;

/include/ "riscv-quard-star-soc.dtsi"

/ {
    model = "riscv-quard-star,qemu";

    chosen {
        bootargs = "root=/dev/vda2 rw console=ttyS0";
        stdout-path = "/soc/uart0@10000000";
    };

};
